<div>
    <div class="row">
        <div class="col-xs-12">
            <nav class="dropdownmenu">
              <ul>
                <li><a href="#">Cadastros</a>  
                    <ul id="submenu">
                        <li><a data-ui-sref="unidade">Unidade</a></li>
                        <li><a data-ui-sref="produto">Produto</a></li>
                    </ul>
                
                <li><a href="#">Vendas</a>
                  <ul id="submenu">
                    <li><a data-ui-sref="cliente">Cliente</a></li>
                    <li><a data-ui-sref="venda">Venda</a></li>
                    <li><a data-ui-sref="listagem">Listagem</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
        </div>
    </div>
</div>
