    <h1>Venda</h1>
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="id">Código</label>
                <div class="controls">
                    <input id="id" style="text-align:right" type="text" ng-model="venda.id" disabled="true" />
                </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="cliente">Cliente</label>
             <div class="controls">
                <select id="cliente" type="text" ng-model="venda.cliente" ng-options="cliente.nome for cliente in listClientes">
                    <option value="">{{venda.cliente.nome}}</option>
                </select>
             </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="dataEmissao">Data da venda</label>
            <div class="controls">
                <div class="controls">
                    <input id="dataEmissao"  type="date" ng-model="venda.dataEmissao" />
                </div>
            </div>    
        </div>
        <br/>
        <fieldset>
            <legend>Itens da venda</legend>
            <table border="1">
                <tr>                  
                  <th>Produto</th>
                  <th>Quantidade</th>
                  <th>Valor</th>
                  <th>Ação</th>
                </tr>
                <tr ng-repeat="item in venda.itemVenda">
                  <td>
                    <select id="cliente" type="text" ng-model="item.produto" ng-options="produto.descricao for produto in listProdutos">
                        <option value="">{{item.produto.descricao}}</option>
                    </select>
                  </td>
                  <td>
                      <input id="quantidade"  type="number" ng-model="item.quantidade" />
                  </td>
                  <td>
                    <input id="valorItem"  type="number" ng-model="item.valorItem" />
                  </td>
                  <td>
                    <a ng-click="deleteRow(item)">Excluir</a>
                  </td>
                </tr>
            </table>
            <br/>
            <button ng-click="addRow()">Adicionar linha</button>                     
        </fieldset>
        <br/>
        <fieldset>
            <legend></legend>
        </fieldset>
        <br/>
        <div class="btn-group" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-primary btn-lg glyphicon glyphicon-floppy-save" ng-click="gravar()" title="Gravar"> Gravar</button>
            </div>        
        </div>  
    </div>  
<div>
    <br/>
    <h1>Lista de Vendas</h1>
    <br/>
    <label>Pesquisar: <input ng-model="searchText"></label>
    <br/><br/>
    <table style="width: 100%">
        <tr>
            <td><label>Expandir</label></td>
            <td><label>ID</label></td>
            <td><label>Cliente</label></td>
            <td><label>Data</label></td>
        </tr>
        <tr ng-repeat="venda in listVendas | filter:searchText">
            <td><div ng-click="open(venda)"> + </div></td>
                <td>{{venda.id}}</td>
                <td>{{venda.cliente.nome}}</td>
                <td>{{venda.dataEmissao | date:'dd/MM/yyyy'}}</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-info btn-sm glyphicon glyphicon-pencil"  ng-click="editar(venda)"  title="Editar"></button>
                    <button class="btn btn-danger btn-sm glyphicon glyphicon-trash" ng-click="deletar(venda)" title="Escluir"></button>
                </div>
            </td>
            <ng-switch on="anyItemOpen()">
                <div ng-switch-when="true">                    
                    <label>Detalhes da venda</label>
                    <div ng-repeat="item in opened.itemVenda">
                        Produto: {{item.produto.descricao}} - Quantidade: {{item.quantidade}} - Valor: {{item.valorItem}}                             
                </div>
                <br/>
                <a ng-click="close()">close</a>
                <br/>
            </ng-switch>            
        </tr>
    </table>
    <br/><br/>
</div>